body {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

#root {
  height: 100vh;
}

.nav-btn {
  text-decoration: none;
}

.content table {
  width: 100%;
}

.chat-thread {
  padding: 20px;
}
